@model fourfit_sistema_gestao.UI.Models.Professores.ProfessoresViewModel
@{
    ViewData["Title"] = "CadastroProfessor";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form class="row g-3" asp-controller="Professores" asp-action="CadastroProfessor" method="post">
                <div class="form-group">
                    <label class="control-label">Foto</label>
                    <input type="file" asp-for="Foto" class="form-control" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <select asp-for="UserId" class="form-select" asp-items="@ViewBag.Usuario">
                        <option selected value="0">Selecione o Usuário</option>
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label for="NomeCompleto" asp-for="NomeCompleto" class="form-label">Nome Completo</label>
                    <input type="text" class="form-control" asp-for="NomeCompleto">
                </div>
                <div class="col-md-12">
                    <label for="Cpf" class="form-label">Cpf</label>
                    <input type="int" class="form-control" asp-for="Cpf">
                </div>
                <div class="col-md-12">
                    <label for="Cref" class="form-label">Cref</label>
                    <input type="int" class="form-control" asp-for="Cref">
                </div>
                <div class="col-md-12">
                    <label for="Especialidade" class="form-label">Especialidade</label>
                    <input type="text" class="form-control" asp-for="Especialidade">
                </div>
                
                <div class="col-md-12">
                    <label for="Observacaes" class="form-label">Observaçães</label>
                    <input type="text" class="form-control" asp-for="Observacaes">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>


<div>
    <a class="btn bnt-dark" asp-action="Index">Voltar</a>
</div>
