
@{
    ViewData["Title"] = "BemVindo";
}
@Html.AntiForgeryToken()
<Authorize>
    

<div class="container">
    <label>Bem vindo, @User.Identity.Name</label>
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <label>Gerenciar Usuários</label>
            </div>

                <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-link">Sair</button>
                </form>

        </div>
        <div class="card-body">
            <form asp-controller="Alunos" asp-action="Cadastrar" method="post">
               <div class="row">
                  <div class="col-sm-6">
                            <button type="button" onclick="location.href='@Url.Action("Index", "Alunos")'" class="btn btn-outline-dark"> <i class="bi bi-plus"></i> Aluno</button>
                  </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-warning">Gerenciar Alunos</button>
                    </div>
               </div>
            </form>
        </div>
    </div>

</div>

