@model AlunosEdicaoViewModel
@{
    ViewData["Title"] = "AlterarAlunos";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AlterarAlunos" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <input type="text" asp-for="PrimeiroNome" class="form-control" />
                    <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Cpf</label>
                    <input type="text" asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Celular</label>
                    <input type="text" asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Cep</label>
                    <input type="text" asp-for="Cep" class="form-control" />
                    <span asp-validation-for="Cep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Endereço</label>
                    <input type="text" asp-for="Endereco" class="form-control" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Numero</label>
                    <input type="text" asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Bairro</label>
                    <input type="text" asp-for="Bairro" class="form-control" />
                    <span asp-validation-fo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Cidade</label>
                    <input type="text" asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <input type="text" asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Data De Nacimento</label>
                    <input type="text" asp-for="DataNacimento" class="form-control" />
                    <span asp-validation-for="DataNacimento" class="text-danger"></span>
                </div>
                
                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Alterar</button>
                </div>


            </form>
        </div>
    </div>
</div>