
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div>
        <h1>Acesso negado</h1>
        <hr />
        <h5>Você não tem permissão para esta função.</h5>
        <button class="btn btn-dark" onclick="window.location.href = '@Url.Action("index","Colaboradores")'"> <<< Voltar</button>
    </div>
</div>

