@model CadastroViewModel
@{
    ViewData["Title"] = "Cadastro";
}

@Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <form class="row g-3" asp-controller="Account" asp-action="Cadastro" method="post">
                <div class="col-md-12">
                    <label for="PrimeiroNome" asp-for="PrimeiroNome" class="form-label">Primeiro Nome</label>
                    <input type="text" class="form-control" asp-for="PrimeiroNome">
                </div>
                <div class="col-md-12">
                    <label for="SobreNome" asp-for="SobreNome" class="form-label">SobreNome</label>
                    <input type="text" class="form-control" asp-for="SobreNome">
                </div>
                <div class="col-md-12">
                    <label for="Email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" asp-for="Email">
                </div>
                <div class="col-12">
                    <label for="Passwoord" class="form-label">Senha</label>
                    <input type="password" class="form-control" asp-for="Password">
                </div>
                <div class="col-12">
                    <label for="PasswoordConfirm" class="form-label">Confirma a Senha</label>
                    <input type="password" class="form-control" asp-for="PasswordConfirmn">
                </div>
                <div class="d-grid gap-2">
                  <br/>
                    <button type="submit" class="btn btn-outline-dark">Cadastrar</button>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>

