@{
    ViewData["Title"] = "ConfirmPasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
/*envia por email em qual formato*/



<div class="container">
    <br />
    <div class="aler alert-info">
        <a href="@TempData["ResetSenha"]">Clique aqui para alterar a senha</a>
    </div>
    @if (TempData["MsgEmailSucesso"] != null)
    {
        <div class="alert alert-success">
            @TempData["MsgEmailSucesso"]
        </div>
    }
</div>